<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>随手记</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/transaction.css') }}" rel="stylesheet" />
        <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    </head>
    <body>
        {% raw %}
        <div id="app">

            <div class="d-flex" id="wrapper">
                <!-- Sidebar-->
                <div class="border-end bg-white" id="sidebar-wrapper">
                    <div class="sidebar-heading border-bottom bg-light">随手记</div>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" @click="activeType=0" >概览</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" @click="activeType=1">入账</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" @click="activeType=2" >查账</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" @click="activeType=3" >改账</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" @click="activeType=4" >分析</a>
                    </div>
                </div>
                <!-- Page content wrapper-->
                <div id="page-content-wrapper">
                    <!-- Top navigation-->
                    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                        <div class="container-fluid">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                                <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>



                    <!-- Page content-->
                    <div class="container-fluid">
                        <!--    概览  -->
                        <div v-show="activeType===0">
                            <h1 class="mt-4">1111</h1>
                        </div>
                         <!--    入账  -->
                        <div v-show="activeType===1">
<!--                            <el-row class="mt-4">-->
<!--                              <el-button>创建分类</el-button>-->
<!--                              <el-button type="primary">创建规则</el-button>-->
<!--                            </el-row>-->
                            <div class="row">

                                <!--    form  -->
                                <el-form ref="formUpload" :model="formUpload" label-width="80px">
                                    <el-steps :active="activeStep" finish-status="success">
                                      <el-step title="第一步选择上传分类" description="选择上传方式"></el-step>
                                      <el-step title="第二步导入数据" description="选择上传文件"></el-step>
                                      <el-step title="第三步数据导入完成" description="查看导入数据"></el-step>
                                    </el-steps>
                                  <el-form-item v-show="activeStep===0"  label="导入方式">
                                    <el-radio-group  v-model="formUpload.paymentType">
                                      <el-radio label="1" border>支付宝csv导入</el-radio>
                                      <el-radio label="2" border>微信csv导入</el-radio>
                                    </el-radio-group>
                                  </el-form-item>
                                  <el-form-item v-show="activeStep===0" label="消费账户">
                                    <el-radio-group v-model="formUpload.accountType">
                                      <el-radio label="1" >老公钱包</el-radio>
                                      <el-radio label="2" >老婆钱包</el-radio>
                                    </el-radio-group>
                                  </el-form-item>
                                  <el-form-item v-show="activeStep===1" label="上传文件">
                                    <el-upload
                                      ref="upload"
                                      drag
                                      action="http://localhost:5000/upload"
                                      ref="upload"
                                      :data="getfileData()"
                                      :auto-upload="false"
                                      :file-list="fileList"
                                      >
                                      <i class="el-icon-upload"></i>
                                      <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                                    </el-upload>
                                    </el-checkbox-group>
                                  </el-form-item>
                                  <el-form-item>
                                      <el-button type="primary"  @click="next">下一步</el-button>
                                       <el-button  @click="submit">主要按钮</el-button>
                                      <el-button @click="dialog = true">添加规则</el-button>
                                  </el-form-item>
                                </el-form>
                            </div>
                        </div>
                         <!--    查账  -->
                        <div v-show="activeType===2">
                            <h1 class="mt-4">日常收支表</h1>
                            <el-form :inline="true" :model="formInline" class="demo-form-inline">
                              <el-form-item label="日期">
                                <el-date-picker
                                  v-model="formInline.picker"
                                  type="daterange"
                                  value-format="yyyy-MM-dd"
                                  @change="dateChange"
                                  unlink-panels
                                  start-placeholder="开始月份"
                                  end-placeholder="结束月份"
                                  :picker-options="formInline.pickerOptions">
                                </el-date-picker>
                              </el-form-item>
                                <el-form-item label="消费成员" label-width="80px" >
                                    <el-select v-model="formInline.consumer" placeholder="请选择成员">
                                      <el-option v-for="op in selectOptionConsumer" :label="op.label" :value="op.value"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="支付方式" label-width="80px" >
                                    <el-select v-model="formInline.paymentType" placeholder="请选择支付方式">
                                      <el-option v-for="op in selectOptionPaymentType" :label="op.label" :value="op.value"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="账户" label-width="80px" >
                                    <el-select v-model="formInline.accountType" placeholder="请选择账户">
                                      <el-option v-for="op in selectOptionAccountType" :label="op.label" :value="op.value"></el-option>
                                    </el-select>
                                </el-form-item>
                              <el-form-item>
                                <el-button type="primary" @click="onSearch">查询</el-button>
                              </el-form-item>
                            </el-form>
                            <template>
                              <el-table
                                      :row-key="getRowKeys"
                                :expand-row-keys="expands"
                                @row-click="clickRowHandle"
                                :data="tableData"
                                style="width: 100%"
                              >
                                <el-table-column type="expand">
                                  <template slot-scope="props">
                                        <table-expend-list :data="props.row.child"></table-expend-list>
                                  </template>
                                </el-table-column>
                                <el-table-column
                                  label="一级分类"
                                  prop="label">
                                </el-table-column>
                                <el-table-column
                                  label="二级分类"
                                  prop="">
                                </el-table-column>
                                <el-table-column
                                  label="金额"
                                  prop="amount">
                                </el-table-column>
                              </el-table>
                            </template>
                        </div>
                         <!--    改账  -->
                        <div v-show="activeType===3" class="p-2">
                            <h1 class="mt-2">改账</h1>
                            <bookkeep-alert-rule>
                            </bookkeep-alert-rule>
                            <el-form :inline="true" :model="formInline" class="demo-form-inline mt-2">
                                <el-date-picker
                                  v-model="batchQueryForm.picker"
                                  type="daterange"
                                  value-format="yyyy-MM-dd"
                                  @change="dateChange"
                                  unlink-panels
                                  start-placeholder="开始月份"
                                  end-placeholder="结束月份"
                                  :picker-options="formInline.pickerOptions">
                                </el-date-picker>
                                <el-select
                                        clearable
                                        v-model="batchQueryForm.consumer"
                                        placeholder="请选择成员"
                                >
                                  <el-option v-for="op in selectOptionConsumer" :label="op.label" :value="op.value"></el-option>
                                </el-select>
                                <el-select
                                    v-model="batchQueryForm.paymentType"
                                    placeholder="请选择付款方式"
                                    clearable
                                >
                                  <el-option v-for="op in selectOptionPaymentType" :label="op.label" :value="op.value"></el-option>
                                </el-select>
                                <el-select
                                    v-model="batchQueryForm.accountType"
                                    clearable
                                    placeholder="请选择账户"
                                >
                                  <el-option v-for="op in selectOptionAccountType" :label="op.label" :value="op.value"></el-option>
                                </el-select>
                              <el-form-item>
                                <el-button type="primary" @click="onSearchUpdate">查询</el-button>
                                  <el-button type="primary" icon="el-icon-edit"  @click="onOpenTranscationDrawer(1)()">添加</el-button>
                              </el-form-item>
                            </el-form>
                            <el-form :inline="true" :model="formInline" class="demo-form-inline">
                               </el-form-item>
                                    <el-cascader
                                        placeholder="分类修改为"
                                        clearable
                                        v-model="batchUpdateForm.category"
                                        :options="options"
                                        filterable></el-cascader>
                                    <el-select v-model="batchUpdateForm.consumer" placeholder="成员修改为">
                                      <el-option v-for="op in selectOptionConsumer" :label="op.label" :value="op.value"></el-option>
                                    </el-select>
                                    <el-select v-model="batchUpdateForm.paymentType" placeholder="付款方式修改为">
                                      <el-option v-for="op in selectOptionPaymentType" :label="op.label" :value="op.value"></el-option>
                                    </el-select>
                                    <el-select v-model="batchUpdateForm.tag" placeholder="标签修改为">
                                      <el-option v-for="op in selectOption" :label="op.label" :value="op.value"></el-option>
                                    </el-select>
                                    <el-select v-model="batchUpdateForm.accountType" placeholder="账户修改为">
                                      <el-option v-for="op in selectOptionAccountType" :label="op.label" :value="op.value"></el-option>
                                    </el-select>
                              <el-form-item>
                                <el-button type="primary" >确认修改</el-button>
                              </el-form-item>
                            </el-form>
                            <el-table
                                ref="multipleTable"
                                :data="tableDataUpdate"
                                tooltip-effect="dark"
                                style="width: 100%"
                                @selection-change="handleSelectionChange">
                                <el-table-column
                                  type="selection"
                                  width="55">
                                </el-table-column>
                                <el-table-column
                                  label="日期"
                                  align="center"
                                  width="140">
                                  <template slot-scope="scope">{{ __utils.formatDate(scope.row.create_time) }}</template>
                                </el-table-column>
                                <el-table-column
                                  prop="amount"
                                  label="金额"
                                  align="center"
                                  width="120">
                                </el-table-column>
                                <el-table-column
                                  prop="name"
                                  label="分类"
                                  align="center"
                                  width="120">
                                  <template slot-scope="scope">{{ __enum.getCategoryLabel(scope.row.category) }}</template>
                                </el-table-column>
                                <el-table-column
                                  prop="consumer"
                                  label="成员"
                                  align="center"
                                  width="120">
                                    <template slot-scope="scope">{{ __enum.getConsumerKey(scope.row.consumer) }}</template>
                                </el-table-column>
                                <el-table-column
                                  prop="account_type"
                                  label="账户"
                                  align="center"
                                  width="120">
                                    <template slot-scope="scope">{{ __enum.getAccountTypeKey(scope.row.account_type) }}</template>
                                </el-table-column>
                                <el-table-column
                                  prop="payment_type"
                                  label="付款方式"
                                  align="center"
                                  width="120">
                                    <template slot-scope="scope">{{ __enum.getPaymentTypeKey(scope.row.payment_type) }}</template>
                                </el-table-column>
                                <el-table-column
                                  prop="tag"
                                  label="标签"
                                  align="center"
                                 width="120">
                                    <template slot-scope="scope">{{ __enum.getTagKey(scope.row.tag) }}</template>
                                </el-table-column>
                                <el-table-column
                                  prop="description"
                                  label="描述"
                                  align="center"
                                  show-overflow-tooltip>
                                </el-table-column>
                                <el-table-column
                                  label="操作"
                                 width="120">
                                    <template slot-scope="scope">

                                        <el-button size="mini" @click="onOpenTranscationDrawer(2)(scope.row)">编辑</el-button>
                                    </template>
                                </el-table-column>
                              </el-table>
                            <div class="mt-2 text-center">
                                <el-pagination
                                  layout="prev, pager, next"
                                  :total="1000">
                                </el-pagination>
                            </div>
                        </div>
                         <!--    分析  -->
                        <div v-show="activeType===4">
                            <h1 class="mt-4">4</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!--  drawer      -->
            <el-drawer
              title="添加规则"
              :before-close="handleClose"
              :visible.sync="dialog"
              custom-class="demo-drawer"
              :size="Number(800)"
              ref="drawer"
              >
                <div class="demo-drawer__content">
                    <el-form ref="form" :model="formTransaction" label-width="80px">
                      <bookkeep-alert>
                      </bookkeep-alert>
                      <el-form-item label="匹配规则" label-width="80px">
                        <el-input v-model="drawerForm.rule" placeholder="描述中包含字符时命中规则"></el-input>
                      </el-form-item>
                         <el-form-item label="分类" label-width="80px">
                            <el-cascader-panel :options="options" clearable v-model="drawerForm.category"></el-cascader-panel>
                         </el-form-item>
                      <el-form-item label="标签" label-width="80px" >
                        <el-select v-model="drawerForm.tag" placeholder="请选择标签">
                            <el-option v-for="op in selectOption" :label="op.label" :value="op.value"></el-option>
                        </el-select>
                      </el-form-item>
                    </el-form>
                    <div class="demo-drawer__footer">
                        <el-button @click="handleClose">取 消</el-button>
                        <el-button type="primary" @click="drawerSubmit" :loading="loading">{{ loading ? '提交中 ...' : '确 定' }}</el-button>
                    </div>
                </div>
            </el-drawer>
              <!--  drawer      -->
            <el-drawer
              :title="formTransaction.action===1 ? '新增' : '修改'"
              :before-close="handleCloseTransaction"
              :visible.sync="dialogTransaction"
              custom-class="demo-drawer"
              :size="Number(800)"
              ref="drawerTransaction"
              >
                <div class="demo-drawer__content">
                    <el-form ref="form" :model="formTransaction" label-width="80px">
                          <el-form-item label="金额">
                            <el-input v-model="formTransaction.amount" style="width: 220px"></el-input>
                          </el-form-item>
                           <el-form-item label="描述">
                            <el-input
                                    v-model="formTransaction.description"
                                    type="textarea"
                                    style="width: 220px"
                            ></el-input>
                          </el-form-item>
                          <el-form-item label="日期" >
                            <el-date-picker
                              v-model="formTransaction.create_time"
                              type="datetime"
                              value-format="yyyy-MM-dd HH:mm"
                               default-time="12:00:00"
                              placeholder="选择日期">
                            </el-date-picker>
                          </el-form-item>
                          <el-form-item label="成员">
                            <el-select
                                clearable
                                v-model="formTransaction.consumer"
                                placeholder="请选择成员"
                            >
                              <el-option v-for="op in selectOptionConsumer" :label="op.label" :value="op.value"></el-option>
                            </el-select>
                          </el-form-item>
                         <el-form-item label="分类">
                             <el-cascader
                                        clearable
                                        v-model="formTransaction.category"
                                        :options="options"
                                        filterable></el-cascader>
                         </el-form-item>
                         <el-form-item label="付款方式">
                            <el-select
                                v-model="formTransaction.payment_type"
                                placeholder="请选择付款方式"
                                clearable
                            >
                              <el-option v-for="op in selectOptionPaymentType" :label="op.label" :value="op.value"></el-option>
                            </el-select>
                         </el-form-item>
                         <el-form-item label="账户">
                            <el-select
                                v-model="formTransaction.account_type"
                                clearable
                                placeholder="请选择账户"
                            >
                              <el-option v-for="op in selectOptionAccountType" :label="op.label" :value="op.value"></el-option>
                            </el-select>
                         </el-form-item>
                         <el-form-item label="标签">
                            <el-select
                                v-model="formTransaction.tag"
                                clearable
                            >
                              <el-option v-for="op in selectOption" :label="op.label" :value="op.value"></el-option>
                            </el-select>
                         </el-form-item>

                          <el-form-item>
                            <el-button type="primary" @click="drawerSubmitTransaction" :loading="loading">{{ loading ? '提交中 ...' : '确 定' }}</el-button>
                            <el-button @click="handleClose">取消</el-button>
                          </el-form-item>
                        </el-form>
                </div>
            </el-drawer>
        </div>
        {% endraw %}
        <!-- import enum.js -->
        <script src="{{ url_for('static', filename='js/const.js') }}"></script>
        <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- dayjs -->
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/dayjs.min.js"></script>
        <!-- import Vue before Element -->
         <script src="https://unpkg.com/vue/dist/vue.js"></script>
         <!-- import JavaScript -->
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
        <!-- import axios -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
          <!-- import componet.js -->
        <script src="{{ url_for('static', filename='js/components.js') }}"></script>
      <script>

          // vue
         new Vue({
          el: '#app',
          data: function() {
            return {
                visible: false,
                getRowKeys: function(row) {return row.id},
                expands: [],
                fileList: [],
                activeType: 1,

                dialog: false, // 抽屉
                dialogTransaction: false, // 抽屉
                loading: false,
                activeStep: 0, // 步骤条


                formUpload: __init.formUpload(),// 上传表单
                formTransaction: __init.formTransaction(),
                formInline: __init.formInline(), // 查账
                batchQueryForm: __init.batchQueryForm(),
                batchUpdateForm: __init.batchUpdateForm(),
                drawerForm:__init.drawerForm(),

                options: __enum.categoryType,
                selectOption: __enum.getTag(),
                selectOptionConsumer: __enum.getConsumer(),
                selectOptionAccountType: __enum.getAccountType(),
                selectOptionPaymentType: __enum.getPaymentType(),


                tableData: [],
                tableDataUpdate: [],
                multipleSelection: []
            }
          },
          methods: {
              dateChange(val){
                  val[0] = val[0] + "T00:00:00"
                  val[1] = val[1] + "T23:59:59"
                  return val
              },
              drawerSubmitTransaction() {
                   const _this = this;
                   this.loading = true;
                  axios.post('/transcation/createorupdate',{ ...this.formTransaction},)
                  .then(function (response) {
                      _this.formTransaction = __init.formTransaction()
                      _this.loading = false;
                       _this.$message({
                          message: '提交成功',
                          type: 'success'
                        })
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
              },
              onOpenTranscationDrawer(action) {
                  const _this = this;
                    return function (data) {
                        _this.dialogTransaction = true

                        if(data) {
                            _this.formTransaction = {
                                ...data,
                                create_time: new Date(data.create_time),
                                category: JSON.parse(data.category),
                            };
                        }

                        if(action === 1){
                            _this.formTransaction = __init.formTransaction()
                            _this.formTransaction.action = 1
                        } else {
                            _this.formTransaction.action = 2

                        }

                    }
              },
              handleClose() {
                  this.loading = false;
                  this.dialog = false;
              },
              handleCloseTransaction() {
                  this.loading = false;
                  this.dialogTransaction = false;
              },
              getfileData() {
                    return {
                        ... this.formUpload,// 消费账户
                    }
              },
              next() {
                if (this.activeStep++ > 2) this.activeStep = 0;
              },
              clickRowHandle(row, column, event) {
                  if (this.expands.includes(row.id)) {
                    this.expands = this.expands.filter(val => val !== row.id);
                  } else {
                    this.expands.push(row.id);
                  }
              },
              drawerSubmit () {
                  const _this = this;
                  axios.post('/add/rule',{data: this.drawerForm},)
                  .then(function (response) {
                      _this.drawerForm = __init.drawerForm();
                      _this.$message({
                          message: '提交成功',
                          type: 'success'
                        })
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
              },
              onSearch () {
                  // 查账
                  const _this = this
                  axios.post('/transaction/query',{
                      category: __enum.categoryType,
                      categoryObj: __enum.getCategoryObj(),
                      ...this.formInline
                  })
                  .then(function (response) {
                      const data = response.data
                      console.log(this)
                      _this.tableData = response.data.data || []
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
              },
              onSearchUpdate () {
                  // 改账查询
                  const _this = this
                  axios.post('/transaction/query/detail',{
                      category: __enum.categoryType,
                      categoryObj: __enum.getCategoryObj(),
                      ...this.batchQueryForm
                  })
                  .then(function (response) {
                      const data = response.data
                      console.log(this)
                      _this.tableDataUpdate = response.data.data || []
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
              },
              toggleSelection() {
                 this.$refs.multipleTable.clearSelection();
              },
              handleSelectionChange(val) {
                  this.multipleSelection = val;
              },
              submit: function () {
                //   var config = { headers: {
                //       'Content-Type': 'application/json',
                //       'Access-Control-Allow-Origin': '*'}
                // }
                //   axios.post('/me',{},{config})
                //   .then(function (response) {
                //     console.log(response);
                //   })
                //   .catch(function (error) {
                //     console.log(error);
                //   });
                  this.$refs.upload.submit();
              }
          }
        })
      </script>
    </body>
</html>