<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>随手记</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/transaction.css') }}" rel="stylesheet" />
        <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    </head>
    <body>
        {% raw %}
        <div id="app">

            <div class="d-flex" id="wrapper">
                <!-- Sidebar-->
                <div class="border-end bg-white" id="sidebar-wrapper">
                    <div class="sidebar-heading border-bottom bg-light">随手记</div>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" @click="onChangeTabs(1)">入账</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" @click="activeType=2" >查账</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" @click="activeType=3" >改账</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" @click="activeType=4" >分析</a>
                    </div>
                </div>
                <!-- Page content wrapper-->
                <div id="page-content-wrapper">
                    <!-- Top navigation-->
                    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                        <div class="container-fluid">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                                <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                    <li class="nav-item active"><a class="nav-link" href="/">主页</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/transaction">记账</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/report">报表</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>



                    <!-- Page content-->
                    <div class="container-fluid">
                         <!--    入账  -->
                        <div v-show="activeType===1">
<!--                            <el-row class="mt-4">-->
<!--                              <el-button>创建分类</el-button>-->
<!--                              <el-button type="primary">创建规则</el-button>-->
<!--                            </el-row>-->
                            <div class="row">

                                <!--    form  -->
                                <el-form ref="formUpload" :model="formUpload" label-width="80px">
                                    <el-steps :active="activeStep" finish-status="success" class="mt-4">
                                      <el-step title="第一步选择上传分类" description="选择上传方式"></el-step>
                                      <el-step title="第二步导入数据" description="选择上传文件"></el-step>
                                      <el-step title="第三步数据导入完成" description="查看导入数据"></el-step>
                                    </el-steps>
                                  <el-form-item
                                          class="mt-2"
                                          v-show="activeStep===0"  label="导入方式">
                                    <el-radio-group  v-model="formUpload.paymentType">
                                      <el-radio label="1" border>支付宝csv导入</el-radio>
                                      <el-radio label="2" border>微信csv导入</el-radio>
                                    </el-radio-group>
                                  </el-form-item>
                                  <el-form-item
                                          v-show="activeStep===0" label="钱包">
                                    <el-radio-group
                                            @change="setConsumer"
                                            v-model="formUpload.accountType">
                                      <el-radio label="1" >老公钱包</el-radio>
                                      <el-radio label="2" >老婆钱包</el-radio>
                                    </el-radio-group>
                                  </el-form-item>
                                  <el-form-item v-show="activeStep===1" label="上传文件">
                                    <el-upload
                                      ref="upload"
                                      drag
                                      action="http://localhost:5000/upload"
                                      ref="upload"
                                      :on-success="onUploadSuccess"
                                      :data="getfileData()"
                                      :auto-upload="false"
                                      :file-list="formUpload.fileList"
                                      >
                                        <i class="el-icon-upload"></i>
                                        <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                                        <div class="el-upload__tip" slot="tip">请上传<span class="fw-bolder link-danger">{{ formUpload.paymentType == 1 ? '支付宝': '微信'}}</span>下载的csv文件</div>
                                    </el-upload>
                                    </el-checkbox-group>
                                  </el-form-item>
                                  <el-form-item>
                                      <el-button type="primary" v-if="activeStep==0"   @click="next">下一步</el-button>
                                       <el-button type="primary" v-if="activeStep==1" @click="uploadSubmit">上传数据</el-button>
                                      <el-button v-if="activeStep==1"   @click="prev">上一步</el-button>
                                      <el-button v-if="activeStep==0"  @click="dialog = true">添加规则</el-button>
                                  </el-form-item>
                                </el-form>
                            </div>
                        </div>
                         <!--    查账  -->
                        <div v-show="activeType===2">
                            <h1 class="mt-4">日常收支表</h1>
                            <el-form :inline="true" :model="formInline" class="demo-form-inline">
                              <el-form-item label="日期">
                                <el-date-picker
                                  v-model="formInline.picker"
                                  type="daterange"
                                  value-format="yyyy-MM-dd"
                                  @change="dateChange"
                                  unlink-panels
                                  start-placeholder="开始月份"
                                  end-placeholder="结束月份"
                                  :picker-options="formInline.pickerOptions">
                                </el-date-picker>
                              </el-form-item>
                                <el-form-item label="消费成员" label-width="80px" >
                                    <el-select
                                            clearable
                                            v-model="formInline.consumer"
                                            placeholder="请选择成员">
                                      <el-option v-for="op in selectOptionConsumer" :label="op.label" :value="op.value"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="支付方式" label-width="80px" >
                                    <el-select
                                            clearable
                                            v-model="formInline.paymentType" placeholder="请选择支付方式">
                                      <el-option v-for="op in selectOptionPaymentType" :label="op.label" :value="op.value"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="账户" label-width="80px" >
                                    <el-select
                                            clearable
                                            v-model="formInline.accountType"
                                               placeholder="请选择账户">
                                      <el-option v-for="op in selectOptionAccountType" :label="op.label" :value="op.value"></el-option>
                                    </el-select>
                                </el-form-item>
                              <el-form-item>
                                <el-button type="primary" @click="onSearch">查询</el-button>
                              </el-form-item>
                            </el-form>
                            <template>
                              <el-table
                                :row-key="getRowKeys"
                                :expand-row-keys="expands"
                                @row-click="clickRowHandle"
                                :summary-method="getSummaries"
                                show-summary
                                :data="tableData"
                                style="width: 100%"
                              >
                                <el-table-column type="expand">
                                  <template slot-scope="props">
                                        <table-expend-list :data="props.row.child" @redirect-to-tab="redirectClick"></table-expend-list>
                                  </template>
                                </el-table-column>
                                <el-table-column
                                  label="一级分类"
                                  prop="label">
                                </el-table-column>
                                <el-table-column
                                  label="二级分类"
                                  prop="">
                                </el-table-column>
                                <el-table-column
                                  label="金额"
                                  prop="amount">
                                     <template slot-scope="scope">{{__utils.numFormat(scope.row.amount)}}</template>
                                </el-table-column>
                              </el-table>
                            </template>
                        </div>
                         <!--    改账  -->
                        <div v-show="activeType===3" class="p-2">
                            <h1 class="mt-2">改账</h1>
                            <bookkeep-alert-rule>
                            </bookkeep-alert-rule>

                            <el-form :inline="true" :model="formInline" class="demo-form-inline mt-2">
                                  <div class="col-12 mb-2">
                                        <el-radio-group
                                                @change="quickSearch"
                                                v-model="batchQueryForm.query_null">
                                          <el-radio-button label="1">正常</el-radio-button>
                                          <el-radio-button label="2">成员无</el-radio-button>
                                          <el-radio-button label="3">分类无</el-radio-button>
                                          <el-radio-button label="4">标签无</el-radio-button>
                                        </el-radio-group>
                                  </div>
                                <el-date-picker
                                  v-model="batchQueryForm.picker"
                                  type="daterange"
                                  value-format="yyyy-MM-dd"
                                  @change="dateChange"
                                  unlink-panels
                                  style="width: 250px"
                                  start-placeholder="开始月份"
                                  end-placeholder="结束月份"

                                  :picker-options="formInline.pickerOptions">
                                </el-date-picker>
                                <el-cascader
                                        placeholder="请选择分类"
                                        clearable
                                        v-model="batchQueryForm.category"
                                        :options="options"
                                        filterable></el-cascader>
                                <el-select
                                        clearable
                                        v-model="batchQueryForm.consumer"
                                        placeholder="请选择成员"
                                        style="width: 120px"
                                >
                                  <el-option v-for="op in selectOptionConsumer" :label="op.label" :value="op.value"></el-option>
                                </el-select>
                                <el-select
                                    v-model="batchQueryForm.paymentType"
                                    placeholder="请选择付款方式"
                                    style="width: 120px"
                                    clearable
                                >
                                  <el-option v-for="op in selectOptionPaymentType" :label="op.label" :value="op.value"></el-option>
                                </el-select>
                                <el-select
                                    v-model="batchQueryForm.accountType"
                                    style="width: 120px"
                                    clearable
                                    placeholder="请选择账户"
                                >
                                  <el-option v-for="op in selectOptionAccountType" :label="op.label" :value="op.value"></el-option>
                                </el-select>
                                <el-input
                                        style="width: 160px"
                                        v-model="batchQueryForm.description"
                                        placeholder="搜索备注关键字">
                                     <i slot="prefix" class="el-input__icon el-icon-search"></i>
                                </el-input>

                              <el-form-item>
                                <el-button ref="btnSearchUpdate" type="primary" @click="onSearchUpdate">查询</el-button>
                                  <el-button type="primary" icon="el-icon-edit"  @click="onOpenTranscationDrawer(1)()">添加</el-button>
                              </el-form-item>
                            </el-form>
                            <el-form :inline="true" :model="formInline" class="demo-form-inline bg-light pt-4">
                               </el-form-item>
                                    <el-cascader
                                        placeholder="分类修改为"
                                        clearable
                                        @change="mappingRule"
                                        v-model="batchUpdateForm.category"
                                        :options="options"
                                        filterable></el-cascader>
                                    <el-select
                                            clearable
                                            v-model="batchUpdateForm.consumer"
                                            placeholder="成员修改为">
                                      <el-option v-for="op in selectOptionConsumer" :label="op.label" :value="op.value"></el-option>
                                    </el-select>
                                    <el-select
                                            clearable
                                            v-model="batchUpdateForm.paymentType"
                                            placeholder="付款方式修改为">
                                      <el-option v-for="op in selectOptionPaymentType" :label="op.label" :value="op.value"></el-option>
                                    </el-select>
                                    <el-select
                                        clearable
                                        v-model="batchUpdateForm.tag"
                                        placeholder="标签修改为">
                                      <el-option v-for="op in selectOption" :label="op.label" :value="op.value"></el-option>
                                    </el-select>
                                    <el-select
                                        clearable
                                        v-model="batchUpdateForm.accountType"
                                        placeholder="账户修改为">
                                      <el-option v-for="op in selectOptionAccountType" :label="op.label" :value="op.value"></el-option>
                                    </el-select>
                              <el-form-item>
                                <el-button type="primary" @click="onBatchUpdate" >确认修改</el-button>
                              </el-form-item>
                            </el-form>
                            <el-table
                                ref="multipleTable"
                                :data="tableDataUpdate"
                                tooltip-effect="dark"
                                @row-click="handleRowClick"
                                style="width: 100%"
                                @selection-change="handleSelectionChange">
                                <el-table-column
                                  type="selection"
                                  width="55">
                                </el-table-column>
                                <el-table-column
                                  prop="name"
                                  label="分类"
                                  align="center"
                                  width="120">
                                  <template slot-scope="scope">{{ __enum.getCategoryLabel(scope.row.category) }}</template>
                                </el-table-column>
                                <el-table-column
                                  prop="amount"
                                  label="金额"
                                  align="center"
                                  width="120">
                                  <template slot-scope="scope">{{ __utils.numFormat(scope.row.amount) }}</template>
                                </el-table-column>
                                <el-table-column
                                  prop="description"
                                  label="描述"
                                  align="center"
                                  show-overflow-tooltip>
                                </el-table-column>
                                <el-table-column
                                  prop="consumer"
                                  label="成员"
                                  align="center"
                                  width="120">
                                    <template slot-scope="scope">{{ __enum.getConsumerKey(scope.row.consumer) }}</template>
                                </el-table-column>
                                <el-table-column
                                  prop="account_type"
                                  label="账户"
                                  align="center"
                                  width="120">
                                    <template slot-scope="scope">{{ __enum.getAccountTypeKey(scope.row.account_type) }}</template>
                                </el-table-column>
                                <el-table-column
                                  prop="payment_type"
                                  label="付款方式"
                                  align="center"
                                  width="120">
                                    <template slot-scope="scope">{{ __enum.getPaymentTypeKey(scope.row.payment_type) }}</template>
                                </el-table-column>
                                <el-table-column
                                  prop="tag"
                                  label="标签"
                                  align="center"
                                 width="120">
                                    <template slot-scope="scope">{{ __enum.getTagKey(scope.row.tag) }}</template>
                                </el-table-column>
                                <el-table-column
                                  label="日期"
                                  align="center"
                                  width="140">
                                  <template slot-scope="scope">{{ __utils.formatDate(scope.row.create_time) }}</template>
                                </el-table-column>
                                <el-table-column
                                  label="操作"
                                 >
                                    <template slot-scope="scope">

                                        <el-button size="mini" @click="onOpenTranscationDrawer(2)(scope.row)">编辑</el-button>
                                        <el-popconfirm
                                          title="确认删除？"
                                          @confirm="onDeleteTranction()(scope.row)">
                                            <el-button size="mini" slot="reference">删除</el-button>
                                         </el-popconfirm>
                                    </template>
                                </el-table-column>
                              </el-table>
                            <div class="mt-2 text-center">
                                <el-pagination
                                  layout="prev, pager, next"
                                  @current-change="handleCurrentChange"
                                  :current-page="pagination.currentPage"
                                  :page-size=" pagination.pageSize"
                                  :hide-on-single-page="true"
                                  :total="pagination.total">
                                </el-pagination>
                            </div>
                        </div>
                         <!--    分析  -->
                        <div v-show="activeType===4">
                            <h1 class="mt-4">4</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!--  drawer      -->
            <el-drawer
              title="添加规则"
              :before-close="handleClose"
              :visible.sync="dialog"
              custom-class="demo-drawer"
              :size="Number(800)"
              ref="drawer"
              >
                <div class="demo-drawer__content">
                    <el-form ref="form" :model="formTransaction" label-width="80px">
                      <bookkeep-alert>
                      </bookkeep-alert>
                      <el-form-item label="匹配规则" label-width="80px">
                        <el-input v-model="drawerForm.rule" placeholder="描述中包含字符时命中规则"></el-input>
                      </el-form-item>
                         <el-form-item label="分类" label-width="80px">
                            <el-cascader-panel
                                    :options="options"
                                    @change="mappingRuleMatch"
                                    clearable
                                    v-model="drawerForm.category"></el-cascader-panel>
                         </el-form-item>
                        <el-form-item label="成员">
                            <el-select
                                clearable
                                v-model="drawerForm.consumer"
                                placeholder="请选择成员"
                            >
                              <el-option v-for="op in selectOptionConsumer" :label="op.label" :value="op.value"></el-option>
                            </el-select>
                          </el-form-item>
                      <el-form-item label="标签" label-width="80px" >
                        <el-select v-model="drawerForm.tag" placeholder="请选择标签">
                            <el-option v-for="op in selectOption" :label="op.label" :value="op.value"></el-option>
                        </el-select>
                      </el-form-item>

                        <el-form-item class="demo-drawer__footer">
                            <el-button type="primary" @click="drawerSubmit" :loading="loading">{{ loading ? '提交中 ...' : '确 定' }}</el-button>
                            <el-button @click="handleClose">取 消</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </el-drawer>
              <!--  drawer      -->
            <el-drawer
              :title="formTransaction.action===1 ? '新增' : '修改'"
              :before-close="handleCloseTransaction"
              :visible.sync="dialogTransaction"
              custom-class="demo-drawer"
              :size="Number(800)"
              ref="drawerTransaction"
              >
                <div class="demo-drawer__content">
                    <el-form ref="formTransaction" :model="formTransaction" :rules="formTransactionRule" label-width="80px">
                          <el-form-item label="金额" prop="amount" required>
                            <el-input v-model="formTransaction.amount" style="width: 220px"></el-input>
                          </el-form-item>
                           <el-form-item label="描述" prop="description" required>
                            <el-input
                                    v-model="formTransaction.description"
                                    type="textarea"
                                    style="width: 220px"
                            ></el-input>
                          </el-form-item>
                          <el-form-item label="日期" prop="create_time"  required>
                            <el-date-picker
                              v-model="formTransaction.create_time"
                              type="datetime"
                              value-format="yyyy-MM-dd hh:mm:ss"
                               default-time="12:00:00"
                              placeholder="选择日期">
                            </el-date-picker>
                          </el-form-item>
                          <el-form-item label="成员" prop="consumer" required >
                            <el-select
                                clearable
                                v-model="formTransaction.consumer"
                                placeholder="请选择成员"
                            >
                              <el-option v-for="op in selectOptionConsumer" :label="op.label" :value="op.value"></el-option>
                            </el-select>
                          </el-form-item>
                         <el-form-item label="分类"  prop="category" required>
                             <el-cascader
                                        clearable
                                        v-model="formTransaction.category"
                                        :options="options"
                                        @change="mappingUpdateRuleMatch"
                                        filterable></el-cascader>
                         </el-form-item>
                         <el-form-item label="付款方式" prop="payment_type" required>
                            <el-select
                                v-model="formTransaction.payment_type"
                                placeholder="请选择付款方式"
                                clearable
                            >
                              <el-option v-for="op in selectOptionPaymentType" :label="op.label" :value="op.value"></el-option>
                            </el-select>
                         </el-form-item>
                         <el-form-item label="账户" prop="account_type" required>
                            <el-select
                                v-model="formTransaction.account_type"
                                clearable
                                placeholder="请选择账户"
                            >
                              <el-option v-for="op in selectOptionAccountType" :label="op.label" :value="op.value"></el-option>
                            </el-select>
                         </el-form-item>
                         <el-form-item label="标签" prop="tag" required>
                            <el-select
                                v-model="formTransaction.tag"
                                clearable
                            >
                              <el-option v-for="op in selectOption" :label="op.label" :value="op.value"></el-option>
                            </el-select>
                         </el-form-item>

                          <el-form-item>
                            <el-button type="primary" @click="drawerSubmitTransaction" :loading="loading">{{ loading ? '提交中 ...' : '确 定' }}</el-button>
                            <el-button @click="handleCloseTransaction">取消</el-button>
                          </el-form-item>
                        </el-form>
                </div>
            </el-drawer>
        </div>
        {% endraw %}
        <!-- import Vue before Element -->
         <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <!-- import enum.js -->
        <script src="{{ url_for('static', filename='js/const.js') }}"></script>
        <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- dayjs -->
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/dayjs.min.js"></script>
         <!-- import JavaScript -->
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
        <!-- import axios -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
          <!-- import componet.js -->
        <script src="{{ url_for('static', filename='js/components.js') }}"></script>
      <script>

          // vue
         new Vue({
          el: '#app',
          data: function() {
            return {
                visible: false,
                getRowKeys: function(row) {return row.id},
                expands: [],
                fileList: [],
                activeType: 1,
                pagination: {
                    currentPage: 1,
                    pageSize: 20,
                    total: 0,
                },

                dialog: false, // 抽屉
                dialogTransaction: false, // 抽屉
                loading: false,
                activeStep: 0, // 步骤条


                formUpload: __init.formUpload(),// 上传表单
                formTransaction: __init.formTransaction(),
                formTransactionRule: __init.formTransactionRule(),
                formInline: __init.formInline(), // 查账
                batchQueryForm: __init.batchQueryForm(),
                batchUpdateForm: __init.batchUpdateForm(),
                drawerForm:__init.drawerForm(),

                options: __enum.categoryType,
                selectOption: __enum.getTag(),
                selectOptionConsumer: __enum.getConsumer(),
                selectOptionAccountType: __enum.getAccountType(),
                selectOptionPaymentType: __enum.getPaymentType(),


                tableData: [],
                tableDataUpdate: [],
                multipleSelection: []
            }
          },
          methods: {
              handleCurrentChange(val) {
                this.pagination.currentPage = val
                this.onSearchUpdate()
              },
              redirectClick(obj){
                  this.activeType = 3
                  // this.$set(this.batchQueryForm, 'category', obj.category)
                  this.batchQueryForm = Object.assign({}, __init.batchQueryForm({
                      category: obj.category,
                      ...this.formInline
                  }))
                  this.$refs['btnSearchUpdate'].handleClick()
              },
              mappingRule(val) {
                  const rules = __enum.getCategoryMappingRule()
                  const obj = rules[val[1]]
                  if (obj.hasOwnProperty('consumer'))
                      this.$set(this.batchUpdateForm, 'consumer', obj.consumer)
                  if (obj.hasOwnProperty('tag'))
                      this.$set(this.batchUpdateForm, 'tag', obj.tag)
              },
              setConsumer(val){
                  this.$set(this.formUpload, 'consumer', val)
              },
              mappingRuleMatch(val) {
                  const rules = __enum.getCategoryMappingRule()
                  const obj = rules[val[1]]
                  if (obj.hasOwnProperty('consumer'))
                      this.$set(this.drawerForm, 'consumer', obj.consumer)
                  if (obj.hasOwnProperty('tag'))
                      this.$set(this.drawerForm, 'tag', obj.tag)
              },
              mappingUpdateRuleMatch(val) {
                  const rules = __enum.getCategoryMappingRule()
                  const obj = rules[val[1]]
                  if (obj.hasOwnProperty('consumer'))
                      this.$set(this.formTransaction, 'consumer', obj.consumer)
                  if (obj.hasOwnProperty('tag'))
                      this.$set(this.formTransaction, 'tag', obj.tag)
              },
              getSummaries(param) {
                const { columns, data } = param;
                const sums = [];
                columns.forEach((column, index) => {
                  if (index === 1) {
                    sums[index] = '总支出';
                    return;
                  }
                  const values = data.map(item => Number(item[column.property]));
                  if (!values.every(value => isNaN(value))) {
                    sums[index] = values.reduce((prev, curr) => {
                      const value = Number(curr);
                      if (!isNaN(value)) {
                        return prev + curr;
                      } else {
                        return prev;
                      }
                    }, 0);
                    sums[index] = __utils.numFormat(sums[index]);
                  } else {
                    sums[index] = '';
                  }
                });

                return sums;
              },
              quickSearch(){
                 this.onSearchUpdate()
              },
              onUploadSuccess(res){
                  this.activeStep = 3;
                  this.$message({
                                      message: '上传成功',
                                      type: 'success'
                                   })
              },
              onChangeTabs(val){
                     if(val === 1){
                          this.formUpload = __init.formUpload()
                          this.activeType = 1;
                          this.activeStep = 0;
                      }
              },
              dateChange(val){
                  val[0] = val[0] + "T00:00:00"
                  val[1] = val[1] + "T23:59:59"
                  return val
              },
              onDeleteTranction() {
                  const _this = this
                  return function (row) {
                            axios.post('/transcation/delete',{ id: row.id},)
                            .then(function (response) {
                                   _this.$message({
                                      message: '删除成功',
                                      type: 'success'
                                   })
                                   _this.onSearchUpdate()
                            }).catch(function (error) {
                                console.log(error);
                            });
                  }
              },
              drawerSubmitTransaction() {
                    const _this = this;
                    let create_time = this.formTransaction.create_time
                    if(create_time instanceof Date)
                      create_time  = dayjs(create_time).format("YYYY-MM-DD HH:mm:ss")
                    this.$refs['formTransaction'].validate((valid) => {
                      if (valid) {
                           this.loading = true;
                          axios.post('/transcation/createorupdate',{
                              ...this.formTransaction,
                              create_time: create_time
                          },)
                          .then(function (response) {
                              _this.formTransaction = __init.formTransaction()
                              _this.loading = false;
                              _this.dialogTransaction = false;
                              _this.onSearchUpdate()
                               _this.$message({
                                  message: '提交成功',
                                  type: 'success'
                               })
                          })
                          .catch(function (error) {
                            console.log(error);
                          });
                      } else {
                        return false;
                      }
                  });
              },
              onOpenTranscationDrawer(action) {
                  const _this = this;
                    return function (data) {
                        _this.dialogTransaction = true

                        if(data) {
                            _this.formTransaction = {
                                ...data,
                                category: JSON.parse(data.category),
                                create_time: new Date(data.create_time),
                            };
                        }

                        if(action === 1){
                            _this.formTransaction = __init.formTransaction()
                            _this.formTransaction.action = 1
                        } else {
                            _this.formTransaction.action = 2

                        }

                    }
              },
              handleClose() {
                  this.loading = false;
                  this.dialog = false;
              },
              handleCloseTransaction() {
                  this.loading = false;
                  this.dialogTransaction = false;
              },
              getfileData() {
                    return {
                        ... this.formUpload,// 消费账户
                    }
              },
              next() {
                if (this.activeStep++ > 2) this.activeStep = 0;
              },
              prev() {
                this.activeStep--;
              },
              clickRowHandle(row, column, event) {
                  if (this.expands.includes(row.id)) {
                    this.expands = this.expands.filter(val => val !== row.id);
                  } else {
                    this.expands.push(row.id);
                  }
              },
              drawerSubmit () {
                  const _this = this;
                  axios.post('/add/rule',{...this.drawerForm},)
                  .then(function (response) {
                      _this.drawerForm = __init.drawerForm();
                      _this.$message({
                          message: '提交成功',
                          type: 'success'
                        })
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
              },
              onSearch () {
                  // 查账
                  const _this = this
                  axios.post('/transaction/query/category',{
                      categoryObj: __enum.getCategoryObj(),
                      ...this.formInline
                  })
                  .then(function (response) {
                      const data = response.data
                      _this.tableData = response.data.data || []
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
              },
              onSearchUpdate () {
                  // 改账页面查询
                  const _this = this
                  axios.post('/transaction/query/detail',{
                      // category: __enum.categoryType,
                      // categoryObj: __enum.getCategoryObj(),
                      ...this.pagination,
                      ...this.batchQueryForm
                  })
                  .then(function (response) {
                      const data = response.data
                      _this.tableDataUpdate = response.data.data || []
                       _this.pagination = {
                          total: response.data.total,
                          pageSize: response.data.pageSize,
                          currentPage: response.data.currentPage
                      }
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
              },
              onBatchUpdate () {
                  // 批量修改
                  const _this = this
                  axios.post('/transaction/batch/update',{
                      ...this.batchUpdateForm,
                      ids: this.multipleSelection,
                  })
                  .then(function (response) {
                      _this.$message({
                          message: '提交成功',
                          type: 'success'
                      })
                      _this.onSearchUpdate()
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
              },
              toggleSelection() {
                 this.$refs.multipleTable.clearSelection();
              },
              handleSelectionChange(val) {
                  this.multipleSelection = val.map(row=>row.id);
              },
              handleRowClick(row) {
                   this.$refs.multipleTable.toggleRowSelection(row);
              },

              uploadSubmit: function () {
                  // 上穿
                  this.$refs.upload.submit();
              }
          }
        })
      </script>
    </body>
</html>