<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>随手记</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/transaction.css') }}" rel="stylesheet" />
        <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    </head>
    <body>
        {% raw %}
        <div id="app">

            <div class="d-flex" id="wrapper">
                <!-- Sidebar-->
                <div class="border-end bg-white" id="sidebar-wrapper">
                    <div class="sidebar-heading border-bottom bg-light">随手记</div>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" @click="activeType=0" >概览</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" @click="activeType=1">入账</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" @click="activeType=2" >查账</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" @click="activeType=3" >改账</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" @click="activeType=4" >分析</a>
                    </div>
                </div>
                <!-- Page content wrapper-->
                <div id="page-content-wrapper">
                    <!-- Top navigation-->
                    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                        <div class="container-fluid">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                                <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>



                    <!-- Page content-->
                    <div class="container-fluid">
                        <!--    概览  -->
                        <div v-show="activeType===0">
                            <h1 class="mt-4">1111</h1>
                        </div>
                         <!--    入账  -->
                        <div v-show="activeType===1">
<!--                            <el-row class="mt-4">-->
<!--                              <el-button>创建分类</el-button>-->
<!--                              <el-button type="primary">创建规则</el-button>-->
<!--                            </el-row>-->
                            <div class="row">

                                <!--    form  -->
                                <el-form ref="form" :model="form" label-width="80px">
                                    <el-steps :active="activeStep" finish-status="success">
                                      <el-step title="第一步选择上传分类" description="选择上传方式"></el-step>
                                      <el-step title="第二步导入数据" description="选择上传文件"></el-step>
                                      <el-step title="第三步数据导入完成" description="查看导入数据"></el-step>
                                    </el-steps>
                                  <el-form-item v-show="activeStep===0"  label="导入方式">
                                    <el-radio-group  v-model="form.paymentType">
                                      <el-radio label="1" border>支付宝csv导入</el-radio>
                                      <el-radio label="2" border>微信csv导入</el-radio>
                                    </el-radio-group>
                                  </el-form-item>
                                  <el-form-item v-show="activeStep===0" label="消费账户">
                                    <el-radio-group v-model="form.accountType">
                                      <el-radio label="1" >老公钱包</el-radio>
                                      <el-radio label="2" >老婆钱包</el-radio>
                                    </el-radio-group>
                                  </el-form-item>
                                  <el-form-item v-show="activeStep===1" label="上传文件">
                                    <el-upload
                                      ref="upload"
                                      drag
                                      action="http://localhost:5000/upload"
                                      ref="upload"
                                      :data="getfileData()"
                                      :auto-upload="false"
                                      :file-list="fileList"
                                      >
                                      <i class="el-icon-upload"></i>
                                      <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                                    </el-upload>
                                    </el-checkbox-group>
                                  </el-form-item>
                                  <el-form-item>
                                      <el-button type="primary"  @click="next">下一步</el-button>
                                       <el-button  @click="submit">主要按钮</el-button>
                                      <el-button @click="dialog = true">添加规则</el-button>
                                  </el-form-item>
                                </el-form>
                            </div>
                        </div>
                         <!--    查账  -->
                        <div v-show="activeType===2">
                            <h1 class="mt-4">日常收支表</h1>
                            <el-form :inline="true" :model="formInline" class="demo-form-inline">
                              <el-form-item label="审批人">
                                <el-date-picker
                                  v-model="formInline.picker"
                                  type="daterange"
                                  value-format="yyyy-MM-dd"
                                  @change="dateChange"
                                  unlink-panels
                                  start-placeholder="开始月份"
                                  end-placeholder="结束月份"
                                  :picker-options="formInline.pickerOptions">
                                </el-date-picker>
                              </el-form-item>
                                <el-form-item label="消费成员" label-width="80px" >
                                    <el-select v-model="formInline.consumer" placeholder="请选择标签">
                                      <el-option v-for="op in selectOptionConsumer" :label="op.label" :value="op.value"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="支付方式" label-width="80px" >
                                    <el-select v-model="formInline.paymentType" placeholder="请选择支付方式">
                                      <el-option v-for="op in selectOptionPaymentType" :label="op.label" :value="op.value"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="账户" label-width="80px" >
                                    <el-select v-model="formInline.accountType" placeholder="请选择账户">
                                      <el-option v-for="op in selectOptionAccountType" :label="op.label" :value="op.value"></el-option>
                                    </el-select>
                                </el-form-item>
                              <el-form-item>
                                <el-button type="primary" @click="onSearch">查询</el-button>
                              </el-form-item>
                            </el-form>
                            <template>
                              <el-table
                                      :row-key="getRowKeys"
                                :expand-row-keys="expands"
                                @row-click="clickRowHandle"
                                :data="tableData"
                                style="width: 100%"
                              >
                                <el-table-column type="expand">
                                  <template slot-scope="props">
                                        <table-expend-list :data="props.row.child"></table-expend-list>
                                  </template>
                                </el-table-column>
                                <el-table-column
                                  label="一级分类"
                                  prop="label">
                                </el-table-column>
                                <el-table-column
                                  label="二级分类"
                                  prop="">
                                </el-table-column>
                                <el-table-column
                                  label="金额"
                                  prop="amount">
                                </el-table-column>
                              </el-table>
                            </template>
                        </div>
                         <!--    改账  -->
                        <div v-show="activeType===3">
                            <h1 class="mt-4">3</h1>
                        </div>
                         <!--    分析  -->
                        <div v-show="activeType===4">
                            <h1 class="mt-4">4</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!--  drawer      -->
            <el-drawer
              title="添加规则"
              :before-close="handleClose"
              :visible.sync="dialog"
              custom-class="demo-drawer"
              :size="Number(800)"
              ref="drawer"
              >
                <div class="demo-drawer__content">
                    <el-form :model="drawerForm">
                      <el-alert
                        title="标签规则"
                        type="warning"
                        description="1.日常消费（买菜，沃尔玛） 2.一次性消费（零食，购物衣服） 3.固定消费（水电煤，加油费，理发话费）"
                        show-icon>
                      </el-alert>
                      <el-form-item label="匹配规则" label-width="80px">
                        <el-input v-model="drawerForm.rule" placeholder="描述中包含字符时命中规则"></el-input>
                      </el-form-item>
                         <el-form-item label="分类" label-width="80px">
                            <el-cascader-panel :options="options" clearable v-model="drawerForm.category"></el-cascader-panel>
                         </el-form-item>
                      <el-form-item label="标签" label-width="80px" >
                        <el-select v-model="drawerForm.tag" placeholder="请选择标签">
                          <el-option v-for="op in selectOption" :label="op.label" :value="op.value"></el-option>
                        </el-select>
                      </el-form-item>
                    </el-form>
                    <div class="demo-drawer__footer">
                        <el-button @click="handleClose">取 消</el-button>
                        <el-button type="primary" @click="drawerSubmit" :loading="loading">{{ loading ? '提交中 ...' : '确 定' }}</el-button>
                    </div>
                </div>
            </el-drawer>
        </div>
        {% endraw %}
        <!-- import enum.js -->
        <script src="{{ url_for('static', filename='js/const.js') }}"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- dayjs -->
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/dayjs.min.js"></script>
        <!-- import Vue before Element -->
         <script src="https://unpkg.com/vue/dist/vue.js"></script>
         <!-- import JavaScript -->
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
        <!-- import axios -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
          <!-- import componet.js -->
        <script src="{{ url_for('static', filename='js/components.js') }}"></script>
      <script>

          // vue
         new Vue({
          el: '#app',
          data: function() {
            return {
                visible: false,
                getRowKeys: function(row) {return row.id},
                expands: [],
                fileList: [],
                activeType: 1,
                dialog: false, // 抽屉
                loading: false,
                activeStep: 0, // 步骤条
                form: { // 入账
                    accountType: '1',// 消费账户
                    paymentType: '1',
                },
                formInline: {// 查账
                    picker: undefined,
                    paymentType: undefined,
                    accountType: undefined,
                    consumer: undefined,
                    pickerOptions: {
                      shortcuts: [{
                        text: '本月',
                        onClick(picker) {
                            const date = new Date(), y = date.getFullYear(), m = date.getMonth();
                            const firstDay = new Date(y, m, 1);
                            const lastDay = new Date(y, m+1, 0);

                            picker.$emit('pick', [firstDay, lastDay]);
                        }
                      }, {
                        text: '上个月',
                        onClick(picker) {
                            const date = new Date(), y = date.getFullYear(), m = date.getMonth();
                            const firstDay = new Date(y, m-1, 1);
                            const lastDay = new Date(y, m, 0);
                          picker.$emit('pick', [firstDay, lastDay]);
                        }
                      }]
                    },
                },
                drawerForm:{
                    category:'',
                    tag:'',
                    rule: '',
                },
                options: __eunm.categoryType,
                selectOption: __eunm.getTag(),
                selectOptionConsumer: __eunm.getConsumer(),
                selectOptionAccountType: __eunm.getAccountType(),
                selectOptionPaymentType: __eunm.getPaymentType(),
                tableData: [{
                      id: '12987122',
                      name: '对方',
                      category: '江浙小吃、小吃零食',
                      desc: '荷兰优质淡奶，奶香浓而不腻',
                      address: '上海市普陀区真北路',
                      shop: '王小虎夫妻店',
                      shopId: '10333',
                        child:[{id:1},{id:2}]
                    }, {
                      id: '12987123',
                      name: '好滋好味鸡蛋仔',
                      category: '江浙小吃、小吃零食',
                      desc: '荷兰优质淡奶，奶香浓而不腻',
                      address: '上海市普陀区真北路',
                      shop: '王小虎夫妻店',
                      shopId: '10333'
                    }, {
                      id: '12987125',
                      name: '好滋好味鸡蛋仔',
                      category: '江浙小吃、小吃零食',
                      desc: '荷兰优质淡奶，奶香浓而不腻',
                      address: '上海市普陀区真北路',
                      shop: '王小虎夫妻店',
                      shopId: '10333'
                    }, {
                      id: '12987126',
                      name: '好滋好味鸡蛋仔',
                    }]
            }
          },
          methods: {
              dateChange(val){
                  val[0] = val[0] + "T00:00:00"
                  val[1] = val[1] + "T23:59:59"
                  return val
              },
              handleClose() {
                  this.loading = false;
                  this.dialog = false;
              },
              getfileData() {
                    return {
                        ... this.form,// 消费账户
                    }
              },
              next() {
                if (this.activeStep++ > 2) this.activeStep = 0;
              },
              clickRowHandle(row, column, event) {
                  if (this.expands.includes(row.id)) {
                    this.expands = this.expands.filter(val => val !== row.id);
                  } else {
                    this.expands.push(row.id);
                  }
              },
              drawerSubmit () {
                  axios.post('/add/rule',{data: this.drawerForm},)
                  .then(function (response) {
                    console.log(response);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
              },
              onSearch () {
                  // 查账
                  const _this = this
                  axios.post('/transaction/query',{
                      category: __eunm.categoryType,
                      categoryObj: __eunm.getCategoryObj(),
                      ...this.formInline
                  })
                  .then(function (response) {
                      const data = response.data
                      console.log(this)
                      _this.tableData = response.data.data || []
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
              },
              submit: function () {
                //   var config = { headers: {
                //       'Content-Type': 'application/json',
                //       'Access-Control-Allow-Origin': '*'}
                // }
                //   axios.post('/me',{},{config})
                //   .then(function (response) {
                //     console.log(response);
                //   })
                //   .catch(function (error) {
                //     console.log(error);
                //   });
                  this.$refs.upload.submit();
              }
          }
        })
      </script>
    </body>
</html>